fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
chromadb
requests
pymupdf
pdfplumber
python-dotenv
openai
python-multipart
python-jose
passlib
bcrypt
pymongo
faiss-cpu
spacy
sentence-transformers
python-docx
numpy
